.my-page-text {
  /*height: inherit;*/
  padding: 8% 5% 5% 3%;
  /*top: 55px;*/

  /*To support older browsers*/
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;

  background-repeat: no-repeat;
  background-size: 100%;
}

.transparent-gray-background {
  background: rgba(50,50,50,0.5);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.form-background {
  padding: 20px 40px;
  margin-bottom: 40px;
}

.login {
  font-weight: 600;
  color: #fbfff1 !important;
  font-family: 'Kanit';
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../images/microscope.jpg');
}

.login-description {
  color: #fbfff1 !important;
  max-width: 600px;
  padding: 0 40px;
  text-align: center;
}

.space-for-error {
  margin-bottom: 65px;
}

.sign-in-error {
  margin-top: -60px;
}
.user {
  color: #fbfff1 !important;
  font-family: 'Kanit';
  font-weight: 500;
}

h3 {
  text-align: center;
  text-emphasis: emphasis;
}

.h4 h4 {
  text-align: center;
  font-weight: 800;
}

.lightBlue {
  color: #b4c5e4;
}

.UserInput input {
  align-content: center !important;
}

.logbutton {
  display: inline-block;
  padding: 5px 16px;
  background-color: #3d52d5;
  color: #fbfff1;
  border-radius: 35px;
  font-size: 16px;
  margin-top: 10px;
}
