

.buttonDiv{
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-bottom: 15px;
    color: #FBFFF1;
}


.supportButtons {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #3D52D5;
    color: white;
    border-radius: 50px;
    font-family: Kanit;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 25px rgba(0, 0, 150, .4);
    cursor: pointer;
   }
   
.prevent{
    display: flex;
    justify-content: center;    
    align-items: center;
}

.preventativeServices {
    background-image: url("../images/coronaLoader.gif");
    background-repeat: no-repeat;
    background-position: center top;
}



