.toggleButton {
    display: inline-block;
    padding: 5px 16px;
    background-color: #3D52D5;
    color: #FBFFF1;
    border-radius: 35px;
    font-size: 16px;
    margin-top: 10px;
}

.toggleButton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 150, .4);
   }
   
.chartDisplay {
    max-width: 1000px !important;
}