.darkgray {
    background-color: #3C3744;
}

.blue {
    background-color: #090C9B;
}

.navyBlue {
    background-color: #3D52D5;
}
/* button color ^ */

.lightBlue {
    color: #B4C5E4;
}

.white {
    background-color: #FBFFF1;
}