.profile-view-header {
    text-align: center;
    color: #090C9B;
    font-size: 60px;
    margin-bottom: 40px;
}

.profile-view-card {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

.profile-view-elements {
    padding: 10px;
}

.list-num {
    font-weight: bold;
}

.editButton {
    margin: 0 auto 10px;
    padding: 5px 16px;
    background-color: #3D52D5;
    color: #FBFFF1;
    border-radius: 35px;
    font-size: 16px;
}

.editButton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 150, .4);
   }
   