#createPost, #printInfo {
    background-color: grey;
    border-radius: 25px;
    font-family: 'Rambla', sans-serif;
    padding: 15px 40px;
    font-size: 25px;
    margin: 4px 2px;
    margin-left: 25px;
    cursor: pointer;
    width: 100px;
    margin-right: 0px;
}

.navbarAll {
    font-size: 25px;
}
.main-navbar {
    width: 100%;
}

.nav-icons {
    font-size: 1.5em;
}

.navColor {
        background-image: url("../images/microscope.jpg");
    
}

.navbarTitle {
    color: #FBFFF1;
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 25px;
    padding-right: 10px;
}

.navbarTitle:hover {
    color: #FBFFF1;
    text-decoration: none;
}

.navLink {
    font-family: 'Kanit';
    color: #B4C5E4;
    padding-left: 10px;
    padding-right: 10px;
}

.navLink:hover {
    color: #FBFFF1;
    text-decoration: none;
}

.navLogout {
    display: inline-block;
    padding: 5px 16px;
    background-color: #3D52D5;
    color: #FBFFF1;
    border-radius: 35px;
    font-size: 16px;
    margin-top: 10px;
}

.navLogout:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 25px rgba(0, 0, 150, .4);
    cursor: pointer;
}