#createPost, #printInfo {
    background-color: grey;
    border-radius: 25px;
    font-family: 'Rambla', sans-serif;
    padding: 15px 40px;
    font-size: 25px;
    margin: 4px 2px;
    margin-left: 25px;
    cursor: pointer;
    width: 100px;
    margin-right: 0px;
}

.navbarAll {
    font-size: 25px;
}
.main-navbar {
    width: 100%;
}

.nav-icons {
    font-size: 1.5em;
}

.navColor {
    background-color: #090C9B;
}

.navbarTitle {
    color: #FBFFF1;
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 25px;
    padding-right: 10px;
}
