

.centerForm {
   vertical-align: auto;
}
.newpost-header {
    font-family: 'Kanit';
    font-size: 50px;
    color: #090C9B;
    text-align: center;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 150, .4);
}

#userInstruction {
    text-align: center;
}
/* input .sympt {
    margin-right: 10px;git 
} */

.form-check-label {
    font-size: 15px;
    padding-right: 10px;
}

.checkBoxes {
    width: 100%
}

.checkBoxPadding {
    padding-left: 10%;
}

.saveMargin {
    margin-right: 20%;
}
.form-check {
    width: 100%;
}

.form-check .symptomInput {
    margin-right: 10px;
}