

.centerForm {
   vertical-align: auto;
}
.newpost-header {
    font-family: 'Kanit';
    font-size: 50px;
    color: #090C9B;
    text-align: center;
}

.saveButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3D52D5;
    color: #FBFFF1;
    border-radius: 50px;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 5px;
}

.saveButton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 25px rgba(0, 0, 150, .4);
    cursor: pointer;
}

#userInstruction {
    text-align: center;
}

.form-check-label {
    font-size: 20px;
}

.symptom .checkBoxes {
    width: col-sm-6;
    margin: 15px;
}

.checkBoxPadding {
    padding-left: 10%;
}

.saveMargin {
    margin-right: 20%;
}